<h1>Guest Speakers - <%= @semester.start_date.strftime('%B %Y') %> - <%= (@semester.start_date + 12.weeks).strftime('%B %Y')  %></h1>

<div class="content-grid mdl-grid">
  <% @talks.each do |talk| %>
    <div class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
      <figure class="mdl-card__media">
        <%= link_to talk.speaker do image_tag talk.speaker.pic end %>
      </figure>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= link_to talk.speaker.name, talk.speaker %></h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>Company - <%= talk.speaker.company %></p>
        <p>Title - <%= talk.speaker.title %></p>
        <p>Date - <%= talk.date.strftime('%m/%d/%Y') %></p>
      </div>

    </div>
  <% end %>
</div>
