<p id="notice"><%= notice %></p>

<h1>Guest Speakers </h1>


<% @this_cohort.each do |speaker| %>
<div class="col-md-3">
  <div class="card">
    <div class="card-content">
      <div class="card-image">
        <%= image_tag(speaker.pic, class: "card-image img-resposive img-thumbnail") %>
      </div>
          <div class="card-body">
            <h4><%= mail_to speaker.email, speaker.name %></h4>
            <p>Company - <%= speaker.company %></p>
            <p>Title - <%= speaker.title %></p>
            <p>Date - <%= speaker.date.strftime('%m/%d/%Y') %></p>
          </div>
    </div>
  </div>
</div>
<% end %>
