<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @speaker.date %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @speaker.pic %>
</p>

<p>
  <strong>Company:</strong>
  <%= @speaker.company %>
</p>

<p>
  <strong>Email:</strong>
  <%= @speaker.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @speaker.title %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
