<!DOCTYPE html>
<html>
<head>
  <title>TiyGuestSpeakers</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
</head>
<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
    <header class="mdl-layout__header mdl-layout__header--scroll">
      <div class="mdl-layout__header-row">
        <a class="navbar-icon" href="/"><%= image_tag("TIY-white.png", size: "60x60")%></a>
        <span><%= link_to('TIY Guest Speakers', root_path, class: "mdl-layout-title mdl-navigation__link") %></span>
        <div class="mdl-layout-spacer"></div>

      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Semesters</span>
      <nav class="mdl-navigation">
        <% Semester.all.each do |semester| %>
          <%= link_to semester.start_date.strftime('%B %Y'), semester_path(semester) %>
        <% end %>
      </nav>
    </div>
      <main class="mdl-layout__content">

        <%= yield %>

      </main>
</div>
</body>
</html>
